/* .item {
    display: none;
} */
.image{
    position:absolute;
    user-select:none;
    
}

.image:hover{
    background-color: yellow;
}

.item:hover  {
    position: absolute;
    border: 2px;
    border-color: black;
    width: 25px;
    height: 25px;
    bottom: 0;
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
    background-position: bottom right;
    /* padding: 0 3px 3px 0; */
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box; 
    cursor: se-resize;
    display: block;
    background-color: yellow ;
    object-fit: contain;
}

.selectedItem {
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    background-color: none;
}

/* .image{ */
    /* object-fit: contain; */
    /* overflow: hidden; */
    /* height:100%; */
    
/* } */