.no-decoration{
  
}

a{
  font-size: 18px;
  color:white;
  margin: 20px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

}

a.active {
    color:orange;
    /* border: solid; */
    border-top: solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px;

    border-color: orange;
    /* font-weight: bold; */
}

a:hover{
  color:orange;
  /* border: solid; */
  border-top: solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px;

  border-color: orange;
  /* font-weight: bold; */
}

.activeNavLink{
    color:'orange'
}