.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #7c9a60;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
}

h3 {
    color: #ffffff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

form label {
    font-size: 1.2rem;
    color: #4d4d4d;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

form button[type="submit"] {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #7c9a60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #7c9a60;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    /* light gray */
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.signup-form label {
    font-size: 1.2rem;
    color: #4d4d4d;
    /* dark gray */
    margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.signup-form button[type="submit"] {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #7c9a60;
    /* green */
    color: #ffffff;
    /* white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}